PORT=4001
NODE_ENV=production
PG_HOST=158.108.110.98
PG_PORT=5432
PG_DATABASE=edoc
PG_USER=edoc
PG_PASSWORD=pan16119918
JWT_SECRET=ku_csc_edoc_production_jwt_key_2026_service_portal
CSC_API_BASE_URL=https://api.csc.ku.ac.th
CSC_API_KEY=156009429d09f697c647024b882c2c464184a3faffb20a6fa34c7df814a7b95a
FRONTEND_URL=https://service.csc.ku.ac.th/edocs
KU_ALLLOGIN_REDIRECT_URI=https://service.csc.ku.ac.th/edocs/api/auth/ku/callback
