# =============================================================================
# KU ALL-Login OAuth2 Configuration Template (.env.example)
# ระบบให้บริการออนไลน์ (KU-CSC)
# =============================================================================

# Client Credentials
KU_ALLLOGIN_CLIENT_ID=csc-it-service
KU_ALLLOGIN_CLIENT_SECRET=wtDtbff5rcZTKOeyPQC2AWGEAq8ZvQh6
KU_ALLLOGIN_SCOPE=basic openid

# URIs / Redirects
APP_URL=https://service.csc.ku.ac.th/edocs
KU_ALLLOGIN_REDIRECT_URI=https://service.csc.ku.ac.th/edocs/oauth2
KU_ALLLOGIN_LOGOUT_REDIRECT_URI=https://service.csc.ku.ac.th/edocs

# KU All-login Endpoints
KU_ALLLOGIN_AUTHORIZATION_URL=https://alllogin.ku.ac.th/realms/KU-Alllogin/protocol/openid-connect/auth
KU_ALLLOGIN_TOKEN_URL=https://alllogin.ku.ac.th/realms/KU-Alllogin/protocol/openid-connect/token
KU_ALLLOGIN_USERINFO_URL=https://alllogin.ku.ac.th/realms/KU-Alllogin/protocol/openid-connect/userinfo
KU_ALLLOGIN_END_SESSION_URL=https://alllogin.ku.ac.th/realms/KU-Alllogin/protocol/openid-connect/logout
